@use '../foundation/index' as *;

/* Fonts and general styles */
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v48-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v48-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-condensed-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-condensed-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/inter-v19-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body,
p,
li,
textarea,
input,
select,
button,
th,
td {
  font-size: var(--font-size-base);
}

h1,
.h1 {
  font-size: var(--font-size-xxxl);
  font-weight: $black;
}

h2,
.h2 {
  font-size: var(--font-size-xxl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

h1,
h2,
h3,
h4,
h5 {
  @include header-style;
  line-height: $line-height;
}

a {
  color: $brand-action;
  position: relative;
  text-decoration: none;
  @include transition-fast(transform, color);
  &:hover {
    color: $brand-primary !important;
    &::after {
      transform: scaleX(1);
    }
    svg {
      fill: $brand-primary !important;
    }
  }
  &:focus-visible {
    outline: 2px solid $brand-action;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $brand-primary;
    bottom: 2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    @include transition-slow(transform);
  }
}

a.logo,
a.skip,
a[class*='btn'],
a[class*='astro-lightgallery'] {
  color: inherit;
  text-decoration: inherit;
  position: static;
  &::after {
    display: none;
  }
}

ul {
  padding-left: 2.5rem;
  li {
    margin-bottom: 0.5rem;
  }
}

.sticky-heading {
  position: sticky;
  top: calc(120px + 2rem); // Mindful of nav
  z-index: 2;
  background: inherit;
}

.topper {
  font-family: $alternate-font;
  font-weight: $bold;
  color: $brand-topper;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
}
